@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Space+Mono:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Rubik+Bubbles&family=Space+Mono:ital,wght@1,700&display=swap');





head {
	text-align: center;
}

body {
	font-family: 'Inconsolata', monospace;
	text-align: center;
	background-color: #45665b;
}

h1 {
	font-family: 'Rubik Bubbles', cursive;
}


a:link {
	color: #455566;
}

a:visited {
 color: #4B4866;
}

.question {
	line-height: 140px;
	position: relative;
	align-items: center;
	text-align: center;
	display: inline-block;
	height: 150px;
	width: 600px;
	background-color: #4B4866;
	box-shadow: rgba(0, 0, 0, 1) 0px 3px 8px;
	
}

.qnumscore {
	position: relative;
	text-align: center;
	align-items: center;
	display: inline-block;
	height: 200px;
	width: 500px;
	background-color: #304740;
	box-shadow: rgba(0, 0, 0, 1) 0px 3px 8px;

}

.reset {
	position: relative;
	display: inline;
	margin-bottom: 15px;
	background-color: #455566;
	height: 50px;
	width: 150px;
	box-shadow: rgba(75, 72, 102, 1) 0px 3px 8px;
	border: #455566;
	margin-right: 20px;
}

.qnumscore {
	width: 200px;
	line-height: 18px;
	font-size: 20px;
}

.cache {
	position: relative;
	display: inline;
	margin-bottom: 15px;
	background-color: #455566;
	height: 50px;
	width: 150px;
	box-shadow: rgba(75, 72, 102, 1) 0px 3px 8px;
	border: #455566 ;
}


.opt1 {
	position: relative;
	display: inline;
	margin-bottom: 15px;
	background-color: #455566;
	height: 50px;
	width: 300px;
	box-shadow: rgba(75, 72, 102, 1) 0px 3px 8px;
	border: #455566 ;
}

.opt2 {
	position: relative;
	display: inline;
	margin-bottom: 15px;
	margin-right: 7px;
	background-color: #455566;
	height: 50px;
	width: 300px;
	box-shadow: rgba(75, 72, 102, 1) 0px 3px 8px;
	border: #455566;
}
.opt3 {
	position: relative;
	margin-bottom: 15px;
	margin-left: 8px;
	background-color: #455566;
	height: 50px;
	width: 300px;
	box-shadow: rgba(75, 72, 102, 1) 0px 3px 8px;
	border: #455566;
	display: inline;
}
.opt4 {
	position: relative;
	background-color: #455566;
	height: 50px;
	width: 300px;
	box-shadow: rgba(75, 72, 102, 1) 0px 3px 8px;
	border: #455566;
	display: inline;
}

.banner-right {
	position: absolute;
	text-align: center;
	line-height: 75px;
	align-items: center;
	background-color: lightgreen;
	opacity: 0.6;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	height: 80px;
	top: 40%;
	width: 100%;
	z-index: 2;
}

.banner-wrong {
	position: absolute;
	text-align: center;
	line-height: 75px;
	align-items: center;
	opacity: 0.6;
	background-color: red;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	height: 80px;
	top: 40%;
	width: 100%;
	z-index: 2;
}


.opt1:active {
	transform: scale(0.98);
	box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.opt2:active {
	transform: scale(0.98);
	box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.opt3:active {
	transform: scale(0.98);
	box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.opt4:active {
	transform: scale(0.98);
	box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.reset:active {
	transform: scale(0.98);
	box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.cache:active {
	transform: scale(0.98);
	box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}