head {
	text-align: center;
}

body {
	text-align: center;
	background-color: #45665b;
}


.question {
	position: relative;
	align-items: center;
	text-align: center;
	display: inline-block;
	height: 150px;
	width: 300px;
	background-color: #4B4866;
	box-shadow: rgba(0, 0, 0, 1) 0px 3px 8px;
}

.qnumscore {
	position: relative;
	text-align: center;
	align-items: center;
	display: inline-block;
	height: 200px;
	width: 500px;
	background-color: #304740;
	box-shadow: rgba(0, 0, 0, 1) 0px 3px 8px;

}

.opt1 {
	position: relative;
	display: inline;
	margin-bottom: 15px;
	background-color: #455566;
	height: 50px;
	width: 300px;
	box-shadow: rgba(75, 72, 102, 1) 0px 3px 8px;
	border: #455566;
	
}
.opt2 {
	position: relative;
	display: inline;
	margin-bottom: 15px;
	margin-right: 7px;
	background-color: #455566;
	height: 50px;
	width: 300px;
	box-shadow: rgba(75, 72, 102, 1) 0px 3px 8px;
	border: #455566;
}
.opt3 {
	position: relative;
	margin-bottom: 15px;
	margin-left: 8px;
	background-color: #455566;
	height: 50px;
	width: 300px;
	box-shadow: rgba(75, 72, 102, 1) 0px 3px 8px;
	border: #455566;
	display: inline;
}
.opt4 {
	position: relative;
	background-color: #455566;
	height: 50px;
	width: 300px;
	box-shadow: rgba(75, 72, 102, 1) 0px 3px 8px;
	border: #455566;
	display: inline;
}

